.leaderboard-container {
    width: 100%;
    height: auto;
    background-color: #27318d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 50px;
    position: relative;
    gap: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6); /* Add box shadow */
  }
  

.date-slider-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  padding-inline: 20px;
  position: relative;
}

.date-slider {
  width: 125px !important;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  background: #4956c9;
  transition: 0.2s all;
  position: relative;
}

.date-slider p {
  text-align: center;
  margin: 0;
}

.top-line {
  width: calc(100% - 20px);
  height: 8px;
  background-color: red;
  position: absolute;
  border-radius: 20px;
  top: -10px;
  left: 0;
  z-index: 2;
}

.date-slider.selected {
  background-color: #ffe600;
  color: black;
}

.arrow-btn {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d1d1d1;
  z-index: 10;
  border: 0;
  background: rgba(255, 255, 255, 0.23);
  margin-left: 10px;
  margin-right: 10px;
}

.buttons-container {
  width: 100px;
  height: 120px;
  background: #27318d;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.arrow-btn:hover {
  cursor: pointer;
}

.date-card-slider {
  width: 100%;
  display: flex !important;
  gap: 50px;
  box-sizing: border-box;
}

.statistic {
  width: 80%;
  height: auto;
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #707070;
  border-radius: 20px;
}

.static-header-container {
  position: absolute;
  background: #27318d;
  top: -12px;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.header-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.traingle1 {
  position: absolute;
  color: #4d56a7;
  transform: rotate(-90deg);
  top: 3.5px;
  left: -2px;
}

.traingle2 {
  position: absolute;
  color: #4d56a7;
  transform: rotate(-90deg);
  top: 6px;
  left: 18px;
}

.traingle3 {
  position: absolute;
  color: #4d56a7;
  transform: rotate(90deg);
  top: 3.5px;
  right: -2px;
}

.traingle4 {
  position: absolute;
  color: #4d56a7;
  transform: rotate(90deg);
  top: 6px;
  right: 18px;
}

.statistics-card {
  display: flex;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.statistic-amount {
  position: absolute;
  top: 10px;
  font-size: 20px;
  text-align: center;
}

.statistic-cards-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.leaderboard-list{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info{
    width: 100%;
    height: 40px;
    display: flex;
    position: relative;
    border-bottom: 2px solid #303BA1;
    color: #D1D2D8;
    justify-content: space-between;
}

.user-img{
    width: 50px;
    height: 50px;
    background-color: #4350BF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 80px;
}

.users-list{
    width: 100%;
    height: 78px;
    border-bottom: 2px solid #303BA1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.position-num{
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prize{
    width: 144px;
    height: 38px;
    background-color: #C5367E;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score{
    min-width: 92px;
    width: auto;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0482FF;
    border-radius: 40px;
    padding-inline: 10px;
    margin-left: 30px !important;
}

.info-lastPart{
    transition: 0.2s all;
}

.userList-lastPart{
    transition: 0.2s all;
    justify-content: center;
    align-items: center;
}

.placeSymbol{
    display: none;
}

.labels{
    display: none;
}

@media screen and (max-width: 790px) {
    .info-lastPart{
        gap: 80px !important;
    }

    .userList-lastPart{
        gap: 30px !important;
    }
  }

  @media screen and (max-width: 666px) {

    .info{
        font-size: 2.5vw;
    }

    .leaderboard-list{
        width: 90%;
    }

    .info-lastPart{
        gap: 66px !important;
    }

    .userList-lastPart{
        gap: 20px !important;
    }
  }

@media screen and (max-width: 600px) {
  .statistic {
    width: 80vw;
  }
}

@media screen and (max-width: 590px) {
    .info-lastPart{
        margin-right: 0 !important;
    }

    .info{
        display: none;
        font-size: 2.8vw;
    }

    .removeMargin{
        margin-left: 0 !important;
    }

    .info-startPart{
        gap: 30px;
    }

    .users-list{
        flex-direction: column;
        gap: 20px;
        height: auto;   
        padding-block: 20px;
        border-block: 2px solid #4350BF;
    }

    .placeSymbol{
        display: flex;
    }

    .profile{
        margin: 0 !important;
    }

    .position-num{
        margin-left: 15px;
    }

    .userList-startPart{
        gap: 75px;
        width: 300px;
        justify-content: center;
    }

    .userList-startPart{
        gap: 75px;
        width: 300px;
        justify-content: center;
    }

    .score{
        margin: 0 !important;
    }

    .labels{
        display: flex;
    }

    .half-line{
        display: flex !important;
        border-radius: 20px;
    }
  }
  

@media screen and (max-width: 330px) {
  .statistic-cards-container {
    flex-direction: column;
    height: 400px;
  }

  .statistics-card {
    gap: 0;
  }

  .statistic-amount {
    top: 20px;
  }
}

@media screen and (max-width: 300px) {
  .static-header-container {
    width: 50%;
  }
}

@media screen and (max-width: 290px){
    .userList-lastPart{
        gap: 10px !important;
    }

    .userList-startPart{
        gap: 30px !important;
    }
}